@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:400,700');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgb(50,50,50);
  font-size: 1em;
  line-height: 1.5em;
  background-color: #F6F9FC;
}

h1, h2, h3 {
  color: #3498db;
  font-family: 'Roboto', sans-serif;
  line-height: 1em;
}

h1 {
  font-size: 1.8em;
}

h2, h3 {
  font-size: 1.3em;
}

a {
  color: #2ecc71;
  text-decoration: none;
}

a:hover {
  color: #2ecc71;
  transition: 0.1s;
}

.pb-20 {
  padding-bottom: 20px;
}

.ptb-10 {
  padding: 10px 0;
}

.text-theme-blue {
  color: #3498db;
}

#social-media-menu a {
  color: white;
  font-size: 2em;
  padding: 10px;
}

#social-media-menu a:hover {
  /*opacity: 0.5;*/
  color: #2ecc71;
}

.header-blue-3 {
  font-size: 3em;
  color: #3498db;
  font-weight: 700;
  line-height: 1.2em;
}

.mouse-animation {
  position: relative;
  height: 50px;
  width: 30px;
  border-radius: 20px;
  border: 2px solid #3498db;
  transition: all .2s ease-in-out;
}

.mouse-animation:hover {
  border-color: #2ecc71;
  transform: scale(1.1);
}

.mouse-animation::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 7px;
  left: 10px;
  background-color: #3498db;
  border-radius: 50%;
  opacity: 1;
  animation-timing-function: ease;
  animation: mouse 2s infinite;
}

.mouse-animation:hover:before {
  background-color: #2ecc71;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 35px;
  }
}

.children-inline-no-margin > * {
  display: inline-block;
  margin-bottom: 0;
}

/*.scroll-down:hover span {
  border-color: #2ecc71;
  transform: scale(1.1);
}*/

/*.scroll-down:hover {
  color: #2ecc71;
  transform: scale(1.1);
}*/

/* Mobile Devices ========================================== */
.mobile-header-text {
  color: rgb(245,245,245);
  position: absolute;
  top: 0;
  padding: 40px;
}
.col-left {
  /*background: linear-gradient(#3083F9, #5542F6);*/
  /*color: #05B582;*/
  background: linear-gradient(#3498db, #2980b9);
  width: 100vw;
  height: 100vh;
}
.col-right {
  padding: 0;
  width: 100vw;
}
.dynamic-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #2ecc71;
}
#social-media-menu {
  position: absolute;
  bottom: 50px;
  left: -57px;
  width: 112px;
  margin-left: 50%;
}
.text-hero {
  font-size: 3.5em;
  color: rgb(245,245,245);
  font-weight: 700;
  line-height: 1.2em;
  padding: 0 40px;
}
#personal-title {
  padding: 20px;
}
#personal-title .h5 {
  display: inline-block;
  color: #3498db;
  font-weight: 700;
}
#personal-bio {
  padding: 20px;
  border-top: 2px solid #2ecc71
}
.scroll-down {
  display: none;
}
#main-content {
  padding: 20px;
}

/* Medium devices and up =============================================== */
@media (min-width: 768px) {
  .dynamic-wrapper {
    display: flex;
    flex-direction: row;
  }
  .col-right {
/*    width: 50%;
    margin-left: 50%;*/
    flex: 0 0 50%;
    height: 200vh;
  }
  .col-left {
    /*display: flex;
    align-items: center;*/
    flex: 0 0 50%;
    height: 100vh;
    position: sticky;
    top: 0;
  }
  img {
    height: 100%;
    width: auto;
  }
  #image-hero {
    height: 25%;
    /*background: linear-gradient(rgb(100,100,100), rgb(130,130,130))*/
    background-image: url('images/Jakeprofile.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #intro-content {
    height: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #main-content {
    display: flex;
    align-items: center;
    height: 100vh;
    /*background: linear-gradient(#EAEBED, #DEDEE0);*/
    background-color: #F6F9FC;
    border-top: 2px solid #2ecc71;
  }
  .more-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .scroll-down {
    height: 100%;
    padding-bottom: 30px;
    margin: 0 auto;
    font-size: 3em;
    font-weight: 200;
    color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
  }
  .mobile-header-text {
    display: none;
  }
  .text-hero {
    font-size: 3.8em;
  }
}

.project-card {
  /*border-radius: 3px;*/
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid transparent;
}
.project-card:hover {
  border-bottom: 5px solid #2ecc71;
}
.project-card:hover .project-card-img {
  opacity: 1;
}
.project-card-img {
  height: 60vh;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://picsum.photos/g/200/500/?random');
  background-size: cover;
  background-position: center;
}
.project-title {
  padding: 20px 0;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2em;
  color: #3498db;
}
.box {

}
